-- Add missing columns to daily_achievements table
ALTER TABLE daily_achievements 
ADD COLUMN IF NOT EXISTS total_break_time INTEGER DEFAULT 0;

ALTER TABLE daily_achievements 
ADD COLUMN IF NOT EXISTS total_deviation_time INTEGER DEFAULT 0;

ALTER TABLE daily_achievements 
ADD COLUMN IF NOT EXISTS focused_alerts INTEGER DEFAULT 0;

ALTER TABLE daily_achievements 
ADD COLUMN IF NOT EXISTS deviated_alerts INTEGER DEFAULT 0;
